$primary-color: #e71111;
$secondary-color: #fff;
$primary-font: "Poppins", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
  figcaption {
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: sans-serif;
  overflow-y: hidden;
}

.title {
  font-size: 1.3rem;
  font-family: $primary-font;
  font-weight: 600;
  position: relative;
  &--red {
    color: $primary-color;
  }
  &--white {
    color: $secondary-color;
  }
}

.title--red::before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../images/assets/left_red_arrows.svg") no-repeat center
    center;
}

.title--red::after {
  content: "";
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../images/assets/right_red_arrows.svg") no-repeat center
    center;
}

.title--white::before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../images/assets/left_white_arrows.svg") no-repeat center
    center;
}

.title--white::after {
  content: "";
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url("../images/assets/right_white_arrows.svg") no-repeat center
    center;
}

.btn {
  background: $primary-color;
  color: $secondary-color;
  padding: 8px 14px;
  border-radius: 5px;
}

.loader {
  position: fixed;
  background: $primary-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $secondary-color;
  .spinner {
    width: 60px;
    height: 60px;
    margin: auto;
    border: solid 5px white;
    border-top-color: $primary-color;
    border-right-color: $primary-color;
    border-radius: 50%;
    animation: rotateIcon 1s linear infinite;
  }
}
.finished-loading {
  opacity: 0;
  pointer-events: none;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/assets/red_circle.svg") no-repeat top right,
    url("../images/assets/red_stripes.svg") no-repeat bottom left;
  position: relative;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .view-projects-btn {
    position: absolute;
    bottom: 30px;
    border: 0px;
    background: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    outline: 0;
    cursor: pointer;
    img {
      display: block;
      margin: 8px auto 0 auto;
    }
  }
  .social-links {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    .social-link {
      color: $primary-color;
      font-size: 1.5rem;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.tagline {
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.projects-section {
  background: $primary-color url("../images/assets/white_stripes.svg") no-repeat
    top left;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin-bottom: 20px;
  &__thumbnail {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &__title {
    color: $primary-color;
    font-family: $primary-font;
    margin-top: 0;
  }
  &__content {
    background: $secondary-color;
    &-wrapper {
      padding: 22px;
    }
  }
  .project-links {
    margin-top: 20px;
  }
  &-link {
    font-size: 0.8rem;
    background: $primary-color;
    color: $secondary-color;
    padding: 5px 10px;
    border: solid 2px $primary-color;
    border-radius: 4px;
    font-family: $primary-font;
    &:first-child {
      margin-right: 10px;
    }
    &:hover {
      background: $secondary-color;
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }
  .title {
    font-size: 1.8rem;
  }
  .view-projects-btn {
    font-size: 0.8rem;
  }
  .social-link {
    font-size: 1.2rem !important;
  }
  .tagline {
    width: 70%;
  }
  .projects-section ul {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    height: 350px;
    display: flex;
    &__thumbnail {
      width: 50%;
    }
    &__title {
      margin-bottom: 0;
    }
    &__content-wrapper {
      padding-bottom: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .project-links {
      margin-top: auto;
    }
  }
  .projects-section ul li:nth-child(even) .project__content {
    order: -1;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 26px;
  }
  .resume-btn {
    font-size: 0.8rem;
  }
}

@media screen and(min-width:2560px) {
  html {
    font-size: 30px;
  }
  .projects-section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .project {
    height: 450px;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
