$primary-color: #e71111;
$secondary-color: #fff;
$primary-font: "Poppins", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
  figcaption {
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: $primary-font;
  overflow-y: hidden;
}

.btn {
  background: $primary-color;
  color: $secondary-color;
  padding: 8px 14px;
  border-radius: 5px;
}

.loader {
  position: fixed;
  background: #000046;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $secondary-color;
  .spinner {
    width: 60px;
    height: 60px;
    margin: auto;
    border: solid 5px #000046;
    border-top-color: #1cb5e0;
    border-right-color: #1cb5e0;
    border-radius: 50%;
    animation: rotateIcon 1s linear infinite;
  }
}
.finished-loading {
  opacity: 0;
  pointer-events: none;
}

.hero {
  height: 100vh;
  background: url("../images/Developer.png") no-repeat bottom left / contain;
  position: relative;
  &__social-links {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
  }
  &__social-link {
    display: inline-block;
    color: #000046;
    &:hover {
      color: #1cb5e0;
    }
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  .quote {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    &__text {
      text-transform: capitalize;
      font-style: italic;
    }
    &__author {
      color: #1cb5e0;
    }
  }
}
.desktop-img {
  display: none;
}

.mobile-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.projects-section {
  min-height: 100vh;
  background: url("../images/Portfolio.png") no-repeat bottom left / contain;
  padding: 8% 5%;
  ul {
    display: grid;
    row-gap: 30px;
  }
}
.projects-section .btns-wrapper {
  flex-basis: 100%;
  margin-bottom: 30px;
  text-align: center;
  button {
    background: none;
    border: 0;
    color: #000046;
    padding-bottom: 8px;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    font-family: $primary-font;
    &:not(.active):hover {
      color: #1cb5e0;
    }
  }
  .active {
    border-bottom: solid 4px #000046;
  }
}
.project {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 16px 35px -25px #9194a1;
  height: 250px;
  &__thumbnail {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &__title {
    margin-top: 0;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &-wrapper {
      text-align: center;
    }
  }
  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1cb5e0;
  }
  &__links {
    margin-top: 20px;
  }
  &__link {
    font-size: 0.8rem;
    background-color: #000046;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: $primary-font;
    &:first-child {
      margin-right: 10px;
    }
    &:nth-child(3) {
      margin-left: 10px;
    }
    &:hover {
      color: #1cb5e0;
    }
  }
}

#emails-list,
#landers-list,
#wordpress-list {
  display: none;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }

  .projects-section {
    padding: 5% 8%;
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  .projects-section .btns-wrapper button {
    font-size: 0.85em;
  }
  .project {
    &__title {
      font-size: 0.95em;
    }
    &__link {
      font-size: 0.65em;
    }
  }
}

@media screen and (min-width: 1024px) {
  // html {
  //   font-size: 26px;
  // }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
  }
  .hero {
    &__social-links {
      position: fixed;
      top: 50px;
      left: 40px;
    }
    &__social-link {
      display: block;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    .quote {
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      text-align: right;
    }
  }
  .projects-section {
    ul {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}

@media screen and(min-width:2560px) {
  html {
    font-size: 35px;
  }
  .hero__social-links {
    left: 80px;
  }
  .project {
    height: 450px;
    &__links {
      margin-top: 1.5em;
    }
    &__link {
      font-size: 0.75em;
      padding: 0.75em 1.7em;
      border-radius: 6px;
    }
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
